In [119]:
import boto3
import pandas as pd
from io import StringIO

## By this step, I have successfully used Crawlers in AWS Glue to processs all 10 datasets from the COVID-19 dataset and done the building of 10 tables. Besides, analyze the data using AWS Athena.

## Overview of this Jupyter Notebook work: based on the previous analysis, applying the technique of Data Dimensional Modelling (DDM) and create Dimensions Model and Facts Model. I will store these Dimention Tables and Fact Tables on a Data Warehouse(AWS Redshift).

### First step, connect to my AWS account and S3 bucket for storing query results.

In [120]:
AWS_ACCESS_KEY = "AKIAZMIW5QWSCF2C5CMU"
AWS_SECRET_KEY = "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"
AWS_REGION = "us-east-2"
SCHEMA_NAME = "covid_dataset"
S3_STAGING_DIR = "s3://zuhang-covid-test-bucket/output/"
S3_BUCKET_NAME = "zuhang-covid-test-bucket"
S3_OUTPUT_DIRECTORY = "output"

#### (The secret key is the AWS secret key of my own account. Therefore once I submit my project I will delete this public-private key pair from my account. If in the future for grading purpose I can provide new key pair to run this code.)

In [121]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

### Helper Function that download and load query, and then return the table.

In [127]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

# Start query data through AWS Athena

## 1. enigma_jhud

In [179]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [181]:
enigma_jhud = download_and_load_query_results(athena_client, response)

In [182]:
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"

## 2. nytimes_data_in_usa_us_county

In [183]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [185]:
nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client, response)

In [186]:
nytimes_data_in_usa_us_county.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

## 3. nytimes_data_in_usa_us_states

In [187]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [188]:
nytimes_data_in_usa_us_states = download_and_load_query_results(athena_client, response)

In [189]:
nytimes_data_in_usa_us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

## 4. rearc_covid_19_testing_data_states_daily

In [190]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_states_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [191]:
rearc_covid_19_testing_data_states_daily = download_and_load_query_results(athena_client, response)

In [192]:
rearc_covid_19_testing_data_states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210220,UT,366034,NaN,1507875.0,NaN,totalTestsViral,2788882,260.0,14421.0,...,NaN,8.0,39.0,70f3e22ea3d10f99d5f3c09c55ba95fa1b8aaabb,0.0,0.0,0.0,0.0,0.0,NaN
1,20210220,VA,561812,117662.0,NaN,195.0,totalTestEncountersViral,5728208,1594.0,23436.0,...,NaN,99.0,67.0,75d813bab6075e36b3ed1d3bbbfe18f6692e3959,0.0,0.0,0.0,0.0,0.0,NaN
2,20210220,VI,2575,NaN,43564.0,108.0,posNeg,46139,NaN,NaN,...,NaN,0.0,0.0,7ca160663de572688bb23d17943b6f59863f5fd0,0.0,0.0,0.0,0.0,0.0,NaN
3,20210220,VT,14359,411.0,309335.0,NaN,totalTestsViral,1009285,39.0,NaN,...,NaN,3.0,0.0,5156647b94cb2e59c9e4e26be1943e4827a99f13,0.0,0.0,0.0,0.0,0.0,NaN
4,20210220,WA,332904,17485.0,NaN,NaN,totalTestEncountersViral,5048054,608.0,18969.0,...,NaN,19.0,35.0,8150e925fc2fb429eeb347109e52f7b99ba00f17,0.0,0.0,0.0,0.0,0.0,NaN

## 5. rearc_covid_19_testing_data_us_daily

In [193]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [194]:
rearc_covid_19_testing_data_us_daily = download_and_load_query_results(athena_client, response)

In [195]:
rearc_covid_19_testing_data_us_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

## 6. rearc_covid_19_testing_data_us_total_latest

In [196]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [197]:
rearc_covid_19_testing_data_us_total_latest = download_and_load_query_results(athena_client, response)

In [198]:
rearc_covid_19_testing_data_us_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

## 7. rearc_usa_hospital_beds

In [199]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [201]:
rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)

In [202]:
rearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,Maricopa,Arizona,...,129.0,129.0,0,0,NaN,NaN,0.0,0,33.495498,-112.066157
1,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,Pima,Arizona,...,295.0,295.0,2,2,NaN,NaN,2.0,0,32.181263,-110.965885
2,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,Fresno,California,...,57.0,57.0,2,2,NaN,NaN,2.0,0,36.773324,-119.779742
3,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,New Haven,Connecticut,...,216.0,216.0,1,1,NaN,NaN,2.0,0,41.284400,-72.957610
4,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,New Castle,Delaware,...,60.0,60.0,0,0,NaN,NaN,1.0,0,39.740206,-75.606532

## 8. static_datasets_countrycode

In [203]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [204]:
static_datasets_countrycode = download_and_load_query_results(athena_client, response)

In [205]:
static_datasets_countrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

## 9. static_datasets_countypopulation

In [206]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [207]:
static_datasets_countypopulation = download_and_load_query_results(athena_client, response)

In [208]:
static_datasets_countypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

## 10. static_datasets_state_abv

In [209]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_state_abv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [210]:
static_datasets_state_abv = download_and_load_query_results(athena_client, response)

In [211]:
static_datasets_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [212]:
new_header = static_datasets_state_abv.iloc[0]
static_datasets_state_abv = static_datasets_state_abv[1:]
static_datasets_state_abv.columns = new_header

In [213]:
static_datasets_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [214]:
factCovid_1 = enigma_jhud[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
factCovid_2 = rearc_covid_19_testing_data_states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how = 'inner')

In [215]:
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

In [216]:
dimRegion_1 = enigma_jhud[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dimRegion_2 = nytimes_data_in_usa_us_county[['fips', 'county', 'state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how = 'inner')

In [217]:
dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York

In [218]:
dimRegion.shape

(11752274, 7)

In [219]:
dimHospital = rearc_usa_hospital_beds[['fips','state_name','latitude','longtitude','hq_address','hospital_name','hospital_type','hq_city','hq_state']]

In [220]:
dimDate = rearc_covid_19_testing_data_states_daily[['fips','date']]

In [221]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

/var/folders/kx/r2x8v3t56w34w8ft2z2v3yn40000gn/T/ipykernel_55113/572748324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

In [222]:
dimDate.head()

   fips       date
0  49.0 2021-02-20
1  51.0 2021-02-20
2  78.0 2021-02-20
3  50.0 2021-02-20
4  53.0 2021-02-20

In [223]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

/var/folders/kx/r2x8v3t56w34w8ft2z2v3yn40000gn/T/ipykernel_55113/935310350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
/var/folders/kx/r2x8v3t56w34w8ft2z2v3yn40000gn/T/ipykernel_55113/935310350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
/var/folders/kx/r2x8v3t56w34w8ft2z2v3yn40000gn/T/ipykernel_55113/935310350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

In [224]:
dimDate.head()

   fips       date  year  month  day_of_week
0  49.0 2021-02-20  2021      2            5
1  51.0 2021-02-20  2021      2            5
2  78.0 2021-02-20  2021      2            5
3  50.0 2021-02-20  2021      2            5
4  53.0 2021-02-20  2021      2            5

# Save fact table and dimensional table to AWS S3

In [225]:
bucket = 'zuhang-covid-de-project'

In [226]:
csv_buffer = StringIO()

In [227]:
factCovid.to_csv(csv_buffer)

In [228]:
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key= AWS_SECRET_KEY)
s3_resource.Object(bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'FFWGFVNZV37AQ1A1',
  'HostId': '6Oc65SYtVNW4vDzIN0CldD4yblq7JuQZ76G9NZ13oZvtyy4ResZAdkwTNuBWznNdvek9ESxWD+k=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '6Oc65SYtVNW4vDzIN0CldD4yblq7JuQZ76G9NZ13oZvtyy4ResZAdkwTNuBWznNdvek9ESxWD+k=',
   'x-amz-request-id': 'FFWGFVNZV37AQ1A1',
   'date': 'Wed, 22 Mar 2023 17:36:19 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"e3b34981de20b10e6af620288ab0beae"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"e3b34981de20b10e6af620288ab0beae"',
 'ServerSideEncryption': 'AES256'}

In [229]:
dimDate_buffer = StringIO()
dimDate.to_csv(dimDate_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key= AWS_SECRET_KEY)
s3_resource.Object(bucket, 'output/dimDate.csv').put(Body=dimDate_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'MHGF4E1P49JZQ13B',
  'HostId': 'Qg3cv8piNxR/wQpEydmZBGEa4aNTA8IIB41mwff9YydG2EW5FD8fzLOoGR5VjqEIlrImzr/TAwyUMNpke6SJRQ==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Qg3cv8piNxR/wQpEydmZBGEa4aNTA8IIB41mwff9YydG2EW5FD8fzLOoGR5VjqEIlrImzr/TAwyUMNpke6SJRQ==',
   'x-amz-request-id': 'MHGF4E1P49JZQ13B',
   'date': 'Wed, 22 Mar 2023 17:36:34 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"7b3d52e67a071cbd60e9256599c85f7b"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"7b3d52e67a071cbd60e9256599c85f7b"',
 'ServerSideEncryption': 'AES256'}

In [230]:
dimHospital_buffer = StringIO()
dimHospital.to_csv(dimHospital_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key= AWS_SECRET_KEY)
s3_resource.Object(bucket, 'output/dimHospital.csv').put(Body=dimHospital_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'EKNPQ5WNGXSNHQJZ',
  'HostId': '7lwprcn3/F6cjvSbIQdrGwsTuE+h53xOn2FZm+AWa7OnbrBmuCO6cZ8maJO6bMdLT4mIfYi5IKVpgIy3NTXqLw==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '7lwprcn3/F6cjvSbIQdrGwsTuE+h53xOn2FZm+AWa7OnbrBmuCO6cZ8maJO6bMdLT4mIfYi5IKVpgIy3NTXqLw==',
   'x-amz-request-id': 'EKNPQ5WNGXSNHQJZ',
   'date': 'Wed, 22 Mar 2023 17:36:36 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"b6c551b16906fce8b33454c6e78705d0"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"b6c551b16906fce8b33454c6e78705d0"',
 'ServerSideEncryption': 'AES256'}

In [231]:
dimRegion_buffer = StringIO()
dimRegion.to_csv(dimRegion_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key= AWS_SECRET_KEY)
s3_resource.Object(bucket, 'output/dimRegion.csv').put(Body=dimRegion_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'SVJEA7Y68GGJQV03',
  'HostId': 'coTt1rfcJK3bk+YRlPh8Q6go6TVbISjNs90cnGdJCn/G8ASSel9l1G7PG6bSgljOpPWLohUzk2M=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'coTt1rfcJK3bk+YRlPh8Q6go6TVbISjNs90cnGdJCn/G8ASSel9l1G7PG6bSgljOpPWLohUzk2M=',
   'x-amz-request-id': 'SVJEA7Y68GGJQV03',
   'date': 'Wed, 22 Mar 2023 17:38:44 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"e8cc5b557bd7029e876b54890ec18849"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"e8cc5b557bd7029e876b54890ec18849"',
 'ServerSideEncryption': 'AES256'}

### Get table schema

In [232]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [235]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [236]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [237]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

## Connect to AWS Redshift

In [245]:
import redshift_connector

In [248]:
conn = redshift_connector.connect(
    host='redshift-cluster-1.ceq1cwkfltbf.us-east-2.redshift.amazonaws.com',
    database='dev',
    user='awsuser',
    password='Awsuser123'
)

In [249]:
conn.autocommit = True

## Create Tables on AWS Redshift and copy corresponding data from AWS S3 to AWS Redshift

### (this is for testing, the actual work is acheived through lauching a Job through AWS Glue)

### Create cursor

In [250]:
cursor = redshift_connector.Cursor = conn.cursor()

In [251]:
cursor.execute("""
CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
""")

In [252]:
cursor.execute("""
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
""")

cursor.execute("""
CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

cursor.execute("""
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [254]:
cursor.execute("""
    copy dimDate from 's3://zuhang-covid-de-project/output/dimDate.csv'
    credentials 'aws_iam_role=arn:aws:iam::644830037412:role/service-role/AmazonRedshift-CommandsAccessRole-20230322T144355'
    delimiter ','
    region 'us-east-2'
    IGNOREHEADER 1
""")

### Success here! We can check the result on AWS Redshift. Testing is done!

## The Next Step: further work on AWS
### Create AWS Glue ETL Job(Python Shell script editor) that does the above steps of creating tables and copying data to AWS Redshift from AWS S3.